####################################################################
#  Ignore configuration files (containing passwords, API keys, etc.)
####################################################################
config*.*

####################################################################
#  Ignore nohup.out
####################################################################
nohup.out


####################################################################
#  Ignore the README.md file on the repository
####################################################################
README.md

